:host {
  display: block;
  padding: 8px;
}

mat-card {
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  padding: 8px;
  box-sizing: border-box;
  margin: 8px auto;
  vertical-align: middle;
}

mat-form-field {
  width: 100%;
}

img {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}
